@import '../../styles/variable';

.button {
  &__primary {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 6px;

    cursor: pointer;
    color: $color-white;
    font-size: 16px;

    background-color: $color-botton-primary;
  }
}
